extends ../layout

block content
  h1  Mini-Curso
  br
  br
  table(class="table well")
    thead
      tr
        th ID:
        th Login
        th Senha
    tbody
    
    each valor, i in lista
      tr
        td #{valor._id}
        td #{valor.login}
        td #{valor.senha}
